%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
$primary-width: 300px;

body {
    @extend %flex-center;
    flex-direction: column;
    height: 100vh;

}

.block {
    position: relative;
    width: 600px;
    max-height: 200px;
    display: flex;
    justify-content: center;
}

.img_container {
    overflow: hidden;
}

.block img {
    max-width: $primary-width;
    max-height: 200px;
    transition: transform 1s ease-out;
    object-fit: cover;
}

.title {
    max-width: $primary-width;
    flex: 1;
    text-align: center;
    @extend %flex-center;
    background: lightgray;
}

.block:hover img {
    transform: scale(1.5);
}

.block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 300;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-out;
    z-index: 1;
}

.block:hover::before {
    opacity: 1;
}