* {
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 58, 62);
    color: whitesmoke;
}

.main-container {
    width: 85%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.nav-wrapper {
    width: 100%;
    padding: 7% 0;
}

.nav-wrapper ul {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    margin-bottom: 4%;
    opacity: 0.5;
}

h1 {
    font-size: 40px;
}

.bottom-container {
    width: 100%;
    display: flex;
    gap: 3%;
    justify-content: space-between;
    padding-bottom: 15%;
}

img {
    width: 50px;
    height: 50px;
}

.account-container {
    width: 100%;
    display: flex;
    gap: 8%;
    align-items: center;
}

.item-container {
    display: flex;
    flex-direction: column;
}

.title {
    opacity: 0.5;
}

.title,
.title-text {
    font-size: 12px;
    letter-spacing: 0.8px;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .account-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 8%;
    }

    h1 {
        font-size: 35px;
    }

    img {
        width: 80px;
        height: 80px;
    }

    #updated {
        grid-area: 1 / 1 / 2 / 2;
        order: 3;
    }
}