header {
  width: 100%;
  background-color: #26587b;
  color: white;
}
header .header_wrapper {
  width: 90%;
}

.tab:not(:focus-within) {
  color: #666;
}

.nav_wrapper {
  width: 100%;
}
.nav_wrapper ul {
  list-style-type: none;
  margin: 0;
}
.nav_wrapper ul a {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
}

.logo_container {
  width: 50px;
  color: white;
}

.user__logo {
  justify-self: flex-end;
}

.home_title {
  width: 90%;
  border-bottom: 1px solid grey;
}
.home_title h2 {
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  margin: auto;
}

.home_container {
  width: 90%;
}

.badge_container {
  font-weight: 400;
  font-size: x-large;
}

.news_wrapper {
  width: 100%;
}
.news_wrapper span {
  position: absolute;
  right: 2%;
}

.news_cont > div {
  border: 1px solid grey;
  border-radius: 4px;
}
.news_cont > div img {
  max-height: 80px;
}

.news_cont > *:not(:nth-child(4)) {
  border-bottom: none;
}

.news_middle_item {
  width: -webkit-fill-available;
}

.col-4 {
  white-space: nowrap;
}

.btn {
  width: 100%;
}

.test1,
.test2 {
  flex: 1;
}

.reward_container :first-child {
  border: 1px solid lightgray;
  border-right: none;
  padding: 0 1em;
  border-radius: 3px;
  position: relative;
}

.reward_container :nth-child(3) {
  border: 1px solid lightgrey;
  border-left: none;
  padding: 0 1em;
  border-radius: 3px;
  position: relative;
}

.reward_container :first-child::after {
  content: "";
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  height: 18px;
  width: 18px;
  position: absolute;
  transform: rotate(45deg);
}

.reward_container :nth-child(3)::before {
  content: "";
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  height: 18px;
  width: 18px;
  position: absolute;
  transform: rotate(-135deg);
}

.reward_container :first-child::after {
  top: 3px;
  right: -8px;
}

.reward_container :nth-child(3)::before {
  left: -8px;
  bottom: 3px;
}

.badge_item {
  font-weight: 500;
  margin: 0 20px;
}
.badge_item img {
  width: 40px;
  border: none !important;
  padding: 0 !important;
}

#grey_button {
  background-color: rgb(145, 143, 143);
  border: none;
}

.homework_title_container {
  width: 100%;
  border-bottom: 1px solid #CCC;
}
.homework_title_container h2 {
  margin-bottom: 0;
}

.top_titles_container ul {
  list-style-type: none;
  margin-bottom: 0;
}
.top_titles_container ul li {
  display: flex;
}
.top_titles_container ul li div {
  align-self: center;
  margin-left: 5px;
}

.list__dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.grey {
  background-color: rgb(255, 251, 251);
}

.green {
  background-color: green;
  color: white;
}

.blue {
  background-color: rgb(20, 122, 136);
  color: white;
}

.pink {
  background-color: pink;
  color: white;
}

.cards_wrapper {
  width: 100%;
}
.cards_wrapper .card {
  min-height: 11rem;
}
.cards_wrapper .card h3 {
  margin-top: 10px;
}

.file-label {
  width: 100%;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.file-btn {
  position: absolute;
  top: 25px;
  right: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  background-color: #f2f2f2;
  border: #CCC;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  border: 1px solid #ccc;
}

.input-field {
  width: 95%;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.choose_file_btn {
  padding: 0 20px;
}

.inp_field_wrapper {
  width: 100%;
}

.btn-container {
  display: flex;
  align-items: center;
}
.btn-container div {
  width: 100%;
}
.btn-container button {
  width: 100%;
  height: 45px;
  border: 1px solid white;
  color: white;
  white-space: nowrap;
}
.btn-container button img {
  width: 20px;
}

.upload-files-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.remove-files-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

div.green {
  position: relative;
}
div.green button {
  background-color: green;
}
div.green .num {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgb(0, 58, 0);
  border-radius: 20px;
  padding: 0 10px;
}

.setting_section {
  width: 90%;
}

.settings_list_container {
  width: 100%;
  background-color: rgb(150, 196, 255);
}
.settings_list_container ul {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.user_wrapper {
  width: 100%;
}
.user_wrapper input {
  width: 100%;
}
.user_wrapper button {
  width: 100%;
}
.user_wrapper .img_container {
  width: 15%;
}
.user_wrapper .img_container img {
  width: 120px;
  height: 130px;
}
.user_wrapper .user_info_container {
  width: 40%;
}
.user_wrapper .password_container {
  width: 40%;
}

.avatar_title {
  display: none;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: rgb(150, 196, 255);
}

div:is(.avatar_title) {
  display: none;
}

@media (max-width: 965px) {
  .news_wrapper {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .news_wrapper span {
    bottom: 1%;
  }
  .home_title h2 {
    white-space: normal;
  }
  .user_wrapper div {
    width: 100% !important;
  }
}
@media (max-width: 840px) {
  .card {
    min-width: 210px;
  }
}
@media (max-width: 781px) {
  div:is(.avatar_title) {
    display: flex;
  }
  .settings_list_container {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */