@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
.visitors_section .visitors_container .visitors_container_items, .visitors_section .visitors_container, .lemur_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: linear-gradient(180deg, #00A510 0%, rgba(0, 165, 16, 0.78) 18.09%, rgba(0, 165, 15, 0.58) 51.18%, #13801D 85.09%, #098214 100%);
  overflow-x: hidden;
  position: relative;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header .phone_number {
  white-space: nowrap;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #FFFFFF;
}
header .phone_icon {
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;
  width: 22px;
  height: 22px;
}
header .phone_icon img {
  position: absolute;
  width: 26px;
  height: 26px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
header .change-lang {
  height: -moz-min-content;
  height: min-content;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
header .change-lang button {
  border: none;
  background: none;
  color: #FFFFFF;
}
header .burger__menu button {
  position: relative;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}
header .burger__menu button span {
  position: absolute;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  width: 32px;
  height: 2px;
  transition: transform 0.3s ease-out;
}
header .burger__menu button :first-child {
  top: 25%;
}
header .burger__menu button :nth-child(2) {
  top: 50%;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  overflow: hidden;
}
header .burger__menu button :last-child {
  top: 75%;
}

.burger__menu.active {
  background: #FFFFFF;
  border-radius: 50%;
}
.burger__menu.active span:first-child {
  background: #F3673F;
  transform: rotate(45deg) translate(-5px, 18px);
}
.burger__menu.active span:nth-child(2) {
  background: #F3673F;
  transform: translateX(4vw);
  opacity: 0;
}
.burger__menu.active span:last-child {
  background: #F3673F;
  transform: rotate(-45deg) translate(-3px, -19px);
}

.overlay_menu {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 20% 0 0 7%;
  z-index: 1;
}
.overlay_menu ul {
  list-style-type: none;
  z-index: 0;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
}
.overlay_menu li a {
  text-decoration: none;
  color: #FFFFFF;
}
.overlay_menu li a:hover {
  color: #ffe600;
}

.qr_container {
  max-width: 350px;
  background: #ffee5a;
  color: black;
  border-radius: 10px;
}
.qr_container:hover {
  background: #ffe600;
}
.qr_container a {
  padding: 12px 32px;
  text-decoration: none;
  color: black;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}
.qr_container img {
  width: 42px;
}

.hero_section .bg_main_pic {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  z-index: -1;
}
.hero_section .bg_main_pic img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.hero_text_zoo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 200px;
  position: absolute;
  top: 0;
  left: 20%;
  font-size: 301px;
  color: rgba(0, 0, 0, 0);
  opacity: 30%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  white-space: nowrap;
  z-index: 0;
}

.hero_text_limpopo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 200px;
  position: absolute;
  top: 7%;
  left: 0;
  font-size: 301px;
  color: rgba(0, 0, 0, 0);
  opacity: 30%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  white-space: nowrap;
  z-index: 0;
}

.swiper_btn_container {
  width: 100%;
}

.top_hero_section {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 30%;
  color: #FFFFFF;
}
.top_hero_section h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
}
.top_hero_section h1::before {
  content: "МЕДЕНИЧІ";
  display: block;
  width: 100px;
  height: 5px;
  margin-top: 10px;
  color: yellow;
  font-size: 28px;
  margin-bottom: 25px;
  margin-left: 75%;
  z-index: 0;
}
.top_hero_section h6 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
}
.top_hero_section span {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
}
.top_hero_section .hero_btn_wrapper {
  margin-top: 10%;
}
.top_hero_section .hero_btn_wrapper a {
  padding: 20px 60px;
  border-radius: 40px;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  background: linear-gradient(90deg, #F3673F 0%, #F29C2C 100%);
  color: #FFFFFF;
}
.top_hero_section .hero_btn_wrapper #btn_route a {
  background: inherit;
  border: 2px solid #FFFFFF;
}
.top_hero_section .hero_btn_wrapper #btn_route a:hover {
  background: #FFFFFF;
  color: black;
}
.top_hero_section .hero_anim_container {
  position: absolute;
  top: 1%;
  right: 0;
}
.top_hero_section .hero_bg_prim img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 10%;
  z-index: -1;
}

.swiper_btn_wrapper {
  width: 100%;
  height: 190px;
  position: relative;
}
.swiper_btn_wrapper .swiper {
  margin: 0;
  width: 40%;
  height: 100%;
  z-index: 0;
}
.swiper_btn_wrapper .swiper-wrapper .anm_name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
}
.swiper_btn_wrapper .swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper_btn_wrapper .swiper-slide div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.swiper_btn_wrapper .swiper-slide a {
  text-decoration: none;
  color: #FFFFFF;
  transition: transform 0.3s ease-in-out;
}
.swiper_btn_wrapper .swiper-slide a:hover {
  transform: scale(1.1);
}
.swiper_btn_wrapper .swiper-slide img {
  width: 150px;
}
.swiper_btn_wrapper .slide-scale {
  transform: scale(0.01);
  transition: transform 0.5s ease-out;
}
.swiper_btn_wrapper .animal_all_btn {
  position: absolute;
  text-decoration: none;
  left: 42%;
  top: 6%;
  width: 150px;
  height: 150px;
  background: rgba(18, 131, 28, 0.89);
  border-radius: 32px 56px 32px 64px;
  border: 1px dashed rgba(255, 255, 255, 0.6);
  z-index: 0;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.swiper_btn_wrapper .animal_all_btn:hover {
  transform: scale(1.1);
}
.swiper_btn_wrapper .animal_all_btn span {
  color: #FFFFFF;
}

.patrons_wrapper {
  width: 100%;
  margin-top: 10% !important;
  z-index: 0;
}
.patrons_wrapper .patron_card_wrapper {
  width: 100%;
}
.patrons_wrapper a {
  width: 500px;
  text-decoration: none;
  color: #FFFFFF;
}
.patrons_wrapper h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
}
.patrons_wrapper .card_descrip_container {
  width: 100%;
  height: 100px !important;
}
.patrons_wrapper .card_descrip_container h2 {
  white-space: nowrap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
}
.patrons_wrapper .card_descrip_container .card__text {
  width: 130%;
}
.patrons_wrapper .arrow_btn_container button {
  background: none;
  border: none;
}
.patrons_wrapper .arrow_btn_container #left_arrow_btn {
  transform: rotate(180deg);
}

.lemur_section {
  width: 100%;
  margin-top: 13%;
}
.lemur_section .lemur_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 90%;
  background: #FFDB00;
  border-radius: 64px;
  padding: 5%;
}
.lemur_section .lemur_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 120%;
}
.lemur_section .lemur_advert {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}
.lemur_section .lemur_list {
  list-style-position: inside;
  padding-left: 0;
}
.lemur_section .lemur_list li {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
}
.lemur_section .lemur_text {
  width: 50%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
}
.lemur_section .lemur_btn {
  width: 45%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  background: linear-gradient(90deg, #F46141 2.43%, #F29E2B 100%);
  border-radius: 32px;
  border: none;
  color: #FFFFFF;
  padding: 20px 50px;
}
@media screen and (max-width: 550px) {
  .lemur_section .lemur_btn {
    width: 100%;
  }
}
.lemur_section .lemur_img {
  position: absolute;
  bottom: 150px;
  right: 0;
  width: 50%;
  z-index: 1;
}
.lemur_section .leaf_img {
  position: absolute;
  bottom: 150px;
  right: 0;
  width: 50%;
}

.visitors_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.visitors_section .visitors_title_wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
.visitors_section .visitors_title_wrapper .visitors_title {
  display: flex;
  width: 100%;
  color: #FFFFFF;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
}
@media screen and (max-width: 1000px) {
  .visitors_section .visitors_title_wrapper .visitors_title {
    font-size: 11vw;
    justify-content: center;
  }
}
.visitors_section .visitors_container {
  width: 85%;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 4rem;
}
.visitors_section .visitors_container .visitors_container_items {
  justify-content: start;
  flex-basis: 45%;
  gap: 8%;
}
@media screen and (max-width: 1000px) {
  .visitors_section .visitors_container .visitors_container_items {
    flex-basis: 100%;
  }
}
.visitors_section .visitors_container .visit_img_container {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
}
@media screen and (max-width: 1000px) {
  .visitors_section .visitors_container .visit_img_container img {
    width: 20vw;
  }
}
.visitors_section .visitors_container .title_text_container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1rem;
}
.visitors_section .visitors_container .visitors_item_title {
  color: #FFFFFF;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}
.visitors_section .visitors_container .visitors_item_text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.branch_img_container {
  margin-top: 10%;
}
.branch_img_container img {
  width: 100%;
}

.map {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.map .map_title_container {
  width: 80%;
  margin-bottom: 5%;
}
.map .map_title_container h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  color: #FFFFFF;
}

.footer_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/background/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: 10%;
  color: #FFFFFF;
}
.footer_wrapper .footer_container {
  width: 80%;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
@media screen and (max-width: 665px) {
  .footer_wrapper .footer_container {
    justify-content: center;
  }
}
.footer_wrapper .footer_container .logo_container {
  margin-bottom: 20px;
}
.footer_wrapper .footer_container .nav_container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  gap: 1rem;
  margin-bottom: 40px;
}
.footer_wrapper .footer_container .phone_social_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
@media screen and (max-width: 665px) {
  .footer_wrapper .footer_container .phone_social_container {
    align-items: center;
  }
}
.footer_wrapper .footer_container .phone_social_container .phone {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  text-align: right;
}
@media screen and (max-width: 440px) {
  .footer_wrapper .footer_container .phone_social_container .phone {
    font-size: 24px;
  }
}
.footer_wrapper .footer_container .phone_social_container .address {
  width: 60%;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  text-align: right;
}
.footer_wrapper .footer_container .phone_social_container .socials {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: end;
  gap: 2rem;
}

@media (max-width: 768px) {
  .main__logo {
    width: 93px;
    height: 72px;
    left: 123px;
  }
}
@media (max-width: 450px) {
  .main_header_container {
    justify-content: center;
    margin: 0 !important;
  }
  .header__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 !important;
  }
  .hero_section__title h1 {
    font-size: 64px;
  }
  .qr_container a {
    white-space: inherit;
  }
}
@media (max-width: 1050px) {
  .overlay_menu {
    margin: 150px 25px 0 0;
  }
  .overlay_menu ul {
    font-size: 24px;
  }
  .overlay_menu ul li {
    margin-bottom: 20px;
  }
}
@media (max-width: 542px) {
  .hero_btn_wrapper {
    width: 100%;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
  }
}
@media (max-width: 1480px) {
  .hero_anim_container img {
    width: 80%;
    margin-left: 20%;
  }
}
@media (max-width: 580px) {
  .top_hero_section h1::before {
    margin: 5% 0 12% 0;
  }
}
@media (max-width: 430px) {
  .swiper-wrapper {
    display: none;
  }
  #tickets {
    margin-top: 2%;
  }
  .animal_all_btn {
    border-radius: 32px !important;
    width: 200px !important;
    height: 70px !important;
    transform: translate(-38%, -38%);
  }
  .animal_all_btn:hover {
    transform: translate(-38%, -38%) !important;
    background: #023807;
  }
}/*# sourceMappingURL=style.css.map */