@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

$primary-bg-color: linear-gradient(180deg, #00A510 0%, rgba(0, 165, 16, 0.78) 18.09%, rgba(0, 165, 15, 0.58) 51.18%, #13801D 85.09%, #098214 100%);
$primary-color: #FFFFFF;
$btn-color: linear-gradient(90deg, #F3673F 0%, #F29C2C 100%);

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: $primary-bg-color;
    overflow-x: hidden;
    position: relative;
}

header {
    width: 100%;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(10px);

    .phone_number {
        white-space: nowrap;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        color: $primary-color;
    }

    .phone_icon {
        position: relative;
        border-radius: 50%;
        background: $primary-color;
        width: 22px;
        height: 22px;

        img {
            position: absolute;
            width: 26px;
            height: 26px;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }

    .change-lang {
        height: min-content;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;

        button {
            border: none;
            background: none;
            color: $primary-color;
        }
    }

    .burger__menu {

        button {
            position: relative;
            width: 40px;
            height: 40px;
            background: none;
            border: none;

            span {
                position: absolute;
                transform: translate(-50%, -50%);
                background: $primary-color;
                width: 32px;
                height: 2px;
                transition: transform 0.3s ease-out;
            }

            :first-child {
                top: 25%;
            }

            :nth-child(2) {
                top: 50%;
                transition: transform 0.5s ease-out, opacity 0.5s ease-out;
                overflow: hidden;
            }

            :last-child {
                top: 75%;
            }
        }
    }
}

.burger__menu.active {
    background: $primary-color;
    border-radius: 50%;

    span:first-child {
        background: #F3673F;
        transform: rotate(45deg) translate(-5px, 18px);
    }

    span:nth-child(2) {
        background: #F3673F;
        transform: translateX(4vw);
        opacity: 0;
    }

    span:last-child {
        background: #F3673F;
        transform: rotate(-45deg) translate(-3px, -19px);
    }
}

.overlay_menu {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 20% 0 0 7%;
    z-index: 1;

    ul {
        list-style-type: none;
        z-index: 0;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 42px;
    }

    li a {
        text-decoration: none;
        color: $primary-color;

        &:hover {
            color: #ffe600;
        }
    }
}

.qr_container {
    max-width: 350px;
    background: #ffee5a;
    color: black;
    border-radius: 10px;

    &:hover {
        background: #ffe600;
    }

    a {
        padding: 12px 32px;
        text-decoration: none;
        color: black;
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 600;
        white-space: nowrap;
    }

    img {
        width: 42px;
    }
}

.hero_section {
    .bg_main_pic {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: black;
        z-index: -1;

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.5;
        }
    }
}

.hero_text_zoo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 200px;
    position: absolute;
    top: 0;
    left: 20%;
    font-size: 301px;
    color: rgba(0, 0, 0, 0);
    opacity: 30%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    white-space: nowrap;
    z-index: 0;
}

.hero_text_limpopo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 200px;
    position: absolute;
    top: 7%;
    left: 0;
    font-size: 301px;
    color: rgba(0, 0, 0, 0);
    opacity: 30%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    white-space: nowrap;
    z-index: 0;
}

.swiper_btn_container {
    width: 100%;
}

// top section
.top_hero_section {
    width: 100%;
    height: fit-content;
    margin-top: 30%;
    color: $primary-color;

    h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 72px;
        line-height: 64px;

        &::before {
            content: "МЕДЕНИЧІ";
            display: block;
            width: 100px;
            height: 5px;
            margin-top: 10px;
            color: yellow;
            font-size: 28px;
            margin-bottom: 25px;
            margin-left: 75%;
            z-index: 0;
        }
    }

    h6 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 36px;
    }

    span {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .hero_btn_wrapper {
        margin-top: 10%;

        a {
            padding: 20px 60px;
            border-radius: 40px;
            text-decoration: none;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            background: $btn-color;
            color: $primary-color;
        }

        #btn_route a {
            background: inherit;
            border: 2px solid $primary-color;

            &:hover {
                background: $primary-color;
                color: black;
            }
        }
    }

    .hero_anim_container {
        position: absolute;
        top: 2%;
        right: 0;
    }

    .hero_bg_prim img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        opacity: 10%;
        z-index: -1;
    }
}

.swiper_btn_wrapper {
    width: 100%;
    height: 190px;
    position: relative;

    .swiper {
        margin: 0;
        width: 40%;
        height: 100%;
        z-index: 0;
    }

    .swiper-wrapper {
        .anm_name {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 14px;
        }
    }

    .swiper-slide {
        width: 100%;
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        a {
            text-decoration: none;
            color: $primary-color;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }

        img {
            width: 150px;
        }
    }

    .slide-scale {
        transform: scale(0.01);
        transition: transform 0.5s ease-out;
    }


    .animal_all_btn {
        position: absolute;
        text-decoration: none;
        left: 42%;
        top: 6%;
        width: 150px;
        height: 150px;
        background: rgba(18, 131, 28, 0.89);
        border-radius: 32px 56px 32px 64px;
        border: 1px dashed rgba(255, 255, 255, 0.6);
        z-index: 0;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        span {
            color: $primary-color;
        }
    }
}

.patrons_wrapper {
    width: 100%;
    margin-top: 10% !important;
    z-index: 0;

    .patron_card_wrapper {
        width: 100%;
    }


    a {
        width: 500px;
        text-decoration: none;
        color: $primary-color;
    }

    h2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 72px;
        line-height: 64px
    }

    .card_descrip_container {
        width: 100%;
        height: 100px !important;

        h2 {
            white-space: nowrap;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 64px;
        }

        .card__text {
            width: 130%;
        }
    }

    .arrow_btn_container {
        button {
            background: none;
            border: none;
        }

        #left_arrow_btn {
            transform: rotate(180deg);
        }
    }
}

.lemur_section {
    width: 100%;
    @extend %flex-center;
    margin-top: 13%;

    .lemur_container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        width: 90%;
        background: #FFDB00;
        border-radius: 64px;
        padding: 5%;
        background-image: url('./assets/img/Leaf_right.png');
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 30%;
    }

    .lemur_title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 120%;
    }

    .lemur_advert {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
    }

    .lemur_list {
        list-style-position: inside;
        padding-left: 0;

        li {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
        }
    }

    .lemur_text {
        width: 50%;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
    }

    .lemur_btn {
        width: 45%;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        background: linear-gradient(90deg, #F46141 2.43%, #F29E2B 100%);
        border-radius: 32px;
        border: none;
        color: #FFFFFF;
        padding: 20px 50px;

        @media screen and (max-width: 550px) {
            width: 100%;
        }
    }

    .lemur_img {
        position: absolute;
        bottom: 200px;
        right: 0;
        width: 50%;
        z-index: 1;
    }
}

.visitors_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

    .visitors_title_wrapper {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;

        .visitors_title {
            display: flex;
            width: 100%;
            color: #FFFFFF;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 72px;
            line-height: 64px;

            @media screen and (max-width: 1000px) {
                font-size: 11vw;
                justify-content: center;
            }
        }
    }

    .visitors_container {
        width: 85%;
        @extend %flex-center;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 4rem;


        .visitors_container_items {
            @extend %flex-center;
            justify-content: start;
            flex-basis: 45%;
            gap: 8%;

            @media screen and (max-width: 1000px) {
                flex-basis: 100%;
            }


        }

        .visit_img_container {
            width: fit-content;
            display: flex;

            img {
                @media screen and (max-width: 1000px) {
                    width: 20vw;
                }
            }
        }

        .title_text_container {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            gap: 1rem;
        }

        .visitors_item_title {
            color: #FFFFFF;
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 36px;
        }

        .visitors_item_text {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }
}

.branch_img_container {
    margin-top: 10%;

    img {
        width: 100%;
    }
}

.map {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;

    .map_title_container {
        width: 80%;
        margin-bottom: 5%;

        h3 {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 72px;
            line-height: 64px;
            color: #FFFFFF;
        }
    }
}

.footer_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/background/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    margin-top: 10%;
    color: #FFFFFF;


    .footer_container {
        width: 80%;
        min-height: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;

        @media screen and (max-width: 665px) {
            justify-content: center;
        }

        .logo_container {
            margin-bottom: 20px;
        }

        .nav_container {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            gap: 1rem;
            margin-bottom: 40px;
        }

        .phone_social_container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1rem;

            @media screen and (max-width: 665px) {
                align-items: center;
            }

            .phone {
                font-family: 'Comfortaa';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 36px;
                text-align: right;

                @media screen and (max-width: 440px) {
                    font-size: 24px;
                }
            }

            .address {
                width: 60%;
                font-family: 'Comfortaa';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                /* or 125% */

                text-align: right;
            }

            .socials {
                width: fit-content;
                display: flex;
                justify-content: end;
                gap: 2rem;
            }
        }

    }
}

//Breakpoints
//header 
@media (max-width: 768px) {
    .main__logo {
        width: 93px;
        height: 72px;
        left: 123px;
    }
}

//hero section
@media (max-width: 450px) {
    .main_header_container {
        justify-content: center;
        margin: 0 !important;
    }

    .header__wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 !important;
    }

    .hero_section__title h1 {
        font-size: 64px;
    }

    .qr_container a {
        white-space: inherit;
    }
}

//overlay section
@media (max-width: 1050px) {
    .overlay_menu {
        margin: 150px 25px 0 0;

        ul {
            font-size: 24px;

            li {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 542px) {
    .hero_btn_wrapper {
        width: 100%;
        align-items: center;
        height: fit-content;
        flex-direction: column;
    }
}

@media (max-width: 1480px) {
    .hero_anim_container img {
        width: 80%;
        margin-left: 20%;
    }
}

@media (max-width: 580px) {
    .top_hero_section h1::before {
        margin: 5% 0 12% 0;
    }
}

@media (max-width: 430px) {
    .swiper-wrapper {
        display: none;
        ;
    }

    #tickets {
        margin-top: 2%;
    }

    .animal_all_btn {
        border-radius: 32px !important;
        width: 200px !important;
        height: 70px !important;
        transform: translate(-38%, -38%);

        &:hover {
            transform: translate(-38%, -38%) !important;
            background: #023807;
        }
    }
}